body {
    background-color: #222222;
}
.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
	padding: 0 20px;
    border-radius: 5px;
    background-color: #343434;
    color: #fff;
}
.header {
	font-size: 36px;
	font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-bottom: 20px;
	color: #fff;
	letter-spacing: 2px;
}
.form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}
.formButton {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
    text-align: center;
    width: 200px;
	height: 60px;
	border-radius: 5px;
	border: none;
	background-color: #195d99;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	/* margin-left: 10px; */
	letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.row {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 20px;
}
.textbox {
	flex: 1;
	height: 40px;
	border-radius: 5px;
	border: 1px solid #ccc;
	padding: 10px;
	margin-right: 10px;
	/* background-color: #fff;
	color: #333; */
    background-color: #282828;
    color: #fff;
	font-size: 20px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leftButton {
	flex: 1;
	width: 200px;
	height: 60px;
	border-radius: 5px;
	border: none;
	background-color: #195d99;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	/* margin-left: 10px; */
	letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.rightButton {
	flex: 1;
	width: 200px;
	height: 60px;
	border-radius: 5px;
	border: none;
	background-color: #195d99;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	margin-left: 10px;
	letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.submit {
	width: 150px;
	height: 60px;
	border-radius: 5px;
	border: none;
	background-color: #195d99;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	margin-left: 10px;
	letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .button:hover {
	background-color: #3e8e41;
} */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #222;
		color: #fff;
	}
	.container {
		background-color: #222;
		color: #fff;
	}
	.textbox {
		background-color: #444;
		color: #fff;
	}
}
.refresh {
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 120px;
	height: 40px;
	border-radius: 5px;
	border: none;
	background-color: #195d99;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	/* text-transform: uppercase; */
	letter-spacing: 2px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* .refresh:hover {
	background-color: #3e8e41;
} */