<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ readerHeader }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
	<div class="container">
		<div class="header">{{ readerHeader }}</div>
        <div class="row">
			<form class="row" method="post">
				<input type="hidden" type="text" name="formID" value="Reader1">
				<button class="leftButton">Reader 1</button>
			</form>
			<form class="row" method="post">
				<input type="hidden" type="text" name="formID" value="Reader2">
				<button class="rightButton">Reader 2</button>
			</form>
		</div>
		<!-- <div class="row">
			<form class="row" method="post">
				<input type="hidden" type="text" name="formID" value="Reader3">
				<button class="leftButton">Reader 3</button>
			</form>
			<form class="row" method="post">
				<input type="hidden" type="text" name="formID" value="Reader4">
				<button class="rightButton">Reader 4</button>
			</form>
		</div> -->
	</div>
</body>
</html>