<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ readerHeader }}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<script>
	function clearForm() {
		document.getElementbyId("H10301form").reset();
		document.getElementbyId("H10302form").reset();
		document.getElementbyId("H10304form").reset();
        document.getElementbyId("fixedH10302").reset();
        document.getElementbyId("fixedH10304").reset();
        document.getElementbyId("fixedH10301").reset();
        document.getElementbyId("rangeH10302").reset();
        document.getElementbyId("5xH10302").reset();
        document.getElementbyId("randH10302").reset();
	}
</script>
<body>
	<div class="container">
		<div class="header">{{ readerHeader }}</div>
        <form class="form" method="post">
			<input type="hidden" id="H10301form" type="text" name="formID" value="H10301form">
			<input type="number" name="facilityCode26" placeholder="Facility Code" class="textbox" value="{{ request.form['facilityCode26'] }}">
			<input type="number" name="cardNumber26" placeholder="Card Number" class="textbox" value="{{ request.form['cardNumber26'] }}">
			<button class="submit">Standard<br />26-bits</button>
		</form>
		<form class="form" method="post">
			<input type="hidden" id="H10302form" type="text" name="formID" value="H10302form">
			<input type="number" name="cardNumberH10302" placeholder="Card Number" class="textbox" value="{{ request.form['cardNumberH10302'] }}">
			<button class="submit">HID H10302<br />37-bits</button>
        </form>
		<form class="form" method="post">
			<input type="hidden" id="H10304form" type="text" name="formID" value="H10304form">
			<input type="number" name="facilityCodeH10304" placeholder="Facility Code" class="textbox" value="{{ request.form['facilityCodeH10304'] }}">
			<input type="number" name="cardNumberH10304" placeholder="Card Number" class="textbox" value="{{ request.form['cardNumberH10304'] }}">
			<button class="submit">HID H10304<br />37-bits</button>
		</form>
	</div>
	<div class="container">
		<div class="header">Fixed Cards</div>
		<div class="row">
			<form class="row" method="post">
				<input type="hidden" id="fixedH10302" type="text" name="formID" value="12006270498">
				<button class="leftButton">Send 37-bit:<br />12006270498</button>
			</form>
			<form class="row" method="post">
				<input type="hidden" id="fixedH10302" type="text" name="formID" value="12006270499">
				<button class="rightButton">Send 37-bit:<br />12006270499</button>
			</form>
		</div>
		<div class="row">
			<form class="row" method="post">
				<input type="hidden" id="fixedH10304" type="text" name="formID" value="1554/245645">
				<button class="leftButton">Send 37-bit:<br />1554/245645</button>
			</form>
			<form class="row" method="post">
				<input type="hidden" id="fixedH10301" type="text" name="formID" value="22/205">
				<button class="rightButton">Send 26-bit:<br />22/205</button>
			</form>
		</div>
	</div>
	<div class="container">
		<div class="header">Special</div>
		<div class="row">
			<form class="row" method="post">
				<input type="hidden" id="rangeH10302" type="text" name="formID" value="multi37Bit">
				<button class="leftButton">Send 37-bit:<br />12006270495-499</button>
			</form>
			<form class="row" method="post">
				<input type="hidden" id="5xH10302" type="text" name="formID" value="37bit5x">
				<button class="rightButton">Send 37-bit:<br />12006270498 5x</button>
			</form>
		</div>
		<div class="row">
			<form class="row" method="post">
				<input type="hidden" id="randH10302" type="text" name="formID" value="random37Bit">
				<button class="leftButton">Send Random<br />H10302 37-bit</button>
			</form>
		</div>
	</div>
	<div class="row">
		<button class="refresh" onclick="clearForm()">Clear</button>
	</div>
</body>
</html>